body{
  background: #000;
  color: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
input{
  color: #333;
}
img{
  width:100%;
}
.post{
  padding:20px;
}
.pic{
  text-align: center;
}
header input{
  margin-top:15px;
}
footer{
  text-align: center;
  margin-top: 40px;
  border-top: #333 solid 1px;
}